<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>NodeGit: Native Node bindings to Git.</title>
    <link type="text/css" rel="stylesheet" href="styles/common.css">
    <link type="text/css" rel="stylesheet" href="styles/prism.css">
    <link type="text/css" rel="stylesheet" href="styles/api.css">
    <!--
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    -->
  </head>

  <body>
    <div id="wrapper">
      <section id="api" class="full block">
        <div>
          <ul id="list-api">
            <a href="#"><li class="brand">NodeGit</li></a>
            <a href="#Install" class="active"><li>Install</li></a>
            <a href="#Example"><li>Example</li></a>
            <li><input tabindex="1" placeholder="Search API" type="search"></li>
            <div class="scrollable"></div>
          </ul>
          <div class="api-content">
            <div class="about">
              <h3>About NodeGit</h3>
              <p>Asynchronous native Node bindings to the libgit2 project.</p>
              <span class="version">Version 0.1.0</span> |
              <a href="https://github.com/nodegit/nodegit">GitHub repository</a>
              <p>
              <a href="https://travis-ci.org/nodegit/nodegit"><img src="https://camo.githubusercontent.com/be9d877bd751211f37a89a3609758d5c44a7505e/68747470733a2f2f7472617669732d63692e6f72672f746272616e79656e2f6e6f64656769742e706e67" alt="Build
              Status" data-canonical-src="https://travis-ci.org/tbranyen/nodegit.png" style="max-width:100%;"></a>
                <a href="https://ci.appveyor.com/project/TimBranyen/nodegit"><img src="https://ci.appveyor.com/api/projects/status/e5a5q75l9yfhnfv2/branch/master" alt="Build Status: Windows" height="18" /></a>

              <!--
              <h4>History:</h4>
              -->
              <div class="wrap-content">
              <!--
                <p>
                  Originally started in 2011 as a project by TJ Fontaine, current
                  Node lead, as an FFI-binding to libgit2. Tim Branyen then
                  forked the project and migrated it to use native wrapper
                  bindings, which would increase performance.
                </p>
                <p>
                  NodeGit was then led by Michael Robinson, who stabilized much
                  of the core binding logic for the limited API exposed.  Nick
                  Kallen came on much later and automated a majority of the
                  native code.
                </p>
                <p>
                  After benefiting from so many contributors, NodeGit is maturing
                  and is slowly becoming a full suite of automated 1:1 bindings
                  to libgit2.
                </p>
                -->
                <h4 id="Install">Install:</h4>
                <pre class="language-bash">
<code>npm install nodegit</code></pre>
                <h4 id="Example">Clone and read example:</h4>
                <pre class="language-javascript">
<code>var clone = require("nodegit").Clone.clone;

// Clone a given repository into a tmp folder.
clone("git://github.com/nodegit/nodegit", "tmp").then(function(repo) {
  // Use a known commit sha from this repository.
  var sha = "59b20b8d5c6ff8d09518454d4dd8b7b30f095ab5";

  // Look up this known commit.
  repo.getCommit(sha).then(function(commit) {
    // Look up a specific file within that commit.
    commit.getEntry("README.md").then(function(entry) {
      // Get the blob contents from the file.
      entry.getBlob().then(function(blob) {
        // Show the name, sha, and filesize in byes.
        console.log(entry.filename(), entry.sha(), blob.rawsize());

        // Show a spacer.
        console.log(Array(72).join("=") + "\n\n");

        // Show the entire file.
        console.log(String(blob));
      });
    });
  });
});</code></pre>
              </div>
              <h3>API Documentation</h3>
            </div>
            <script type="inner-content">
            <div id="{{jsClassName}}" class="inner-content">
              <ul class="api-contents">
                <li class="entry">
                  <table class="pure-table">
                    <thead>
                      <tr>
                        <th><sub>JavaScript</sub></th>
                        <th><sub>C++</sub></th>
                        {%if cType%}
                        <th><sub>C</sub></th>
                        {%endif%}
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><h3>{{ jsClassName }}</h3></td>
                        <td><h3>{{ cppClassName }}</h3></td>
                        {%if cType%}
                        <td><h3>{{ cType }}</h3></td>
                        {%endif%}
                      </tr>
                    </tbody>
                  </table>
                  <p>{{{ description }}}</p>
                  <pre class="const language-javascript">
<code>var {{ jsClassName }} = require("nodegit").{{ jsClassName }};</code></pre>
                  <div class="header">
                    <strong class="{%if not ignore%}is{%else%}not{%endif%} added">in API</strong>
                    <!--
                    <strong class="deps">Depends on: <a class="ref">Repository</a></strong>
                    -->
                  </div>

                  <h4>Properties:</h4>
                  <ul class="properties inner-block">
                    {%if not fields.length%}
                    <li>No properties available.</li>
                    {%else%}
                    <li>
                      <table class="pure-table">
                        <thead>
                          <tr>
                            <th><sub>Name</sub></th>
                            <th><sub>Type</sub></th>
                          </tr>
                        </thead>
                        <tbody>
                          {%each fields as field%}
                          <tr id="{{jsClassName}}/field/{{field.name}}">
                            <td><strong>{{field.name}}</strong></td>
                            <td>{{ field.jsClassName }}</td>
                          </tr>
                          {%endeach%}
                        </tbody>
                      </table>
                    </li>
                    {%endif%}
                  </ul>

                  <h4>Functions:</h4>
                    {%if not functions.length%}
                  <ul class="functions inner-block">
                    <li>No functions available.</li>
                  </ul>
                    {%endif%}
                    {%each functions as function%}
                  <ul class="functions inner-block">
                    <li id="{{jsClassName}}/function/{{function.jsFunctionName}}">
{%if function.isConstructorMethod%}
                      <strong class="cName">{{jsClassName}}.</strong><strong class="name">{{function.jsFunctionName}}</strong>
                      <p>{{{ function.description }}}</p>
<pre class="function language-javascript"><code>{{ jsClassName }}.{{ function.jsFunctionName }}({%each function.args|realArgs as arg%}{{arg.name|addComma arg i}}{%endeach%});</code></pre>
{%else%}
                      <strong class="cName">{{jsClassName}}#</strong><strong class="name">{{function.jsFunctionName}}</strong>
                      <p>{{{ function.description }}}</p>
<pre class="function language-javascript">
<code>var {{ jsClassName|toCamelCase }} = new {{ jsClassName }}();
{{ jsClassName|toCamelCase }}.{{ function.jsFunctionName }}({%each function.args|realArgs as arg%}{{arg.name|addComma arg i }}{%endeach%});
</code></pre>
{%endif%}

                      <p>{{{function.comment}}}</p>
                      <h4>Arguments:</h4>
                      <div class="arguments">
                      {%if function.args.length > 2%}
                      <table class="pure-table">
                        <thead>
                          <tr>
                            <th><sub>Name</sub></th>
                            <th><sub>Type</sub></th>
                            <th><sub>Comment</sub></th>
                          </tr>
                        </thead>
                        <tbody>
                          {%each function.args as arg%}
                          {%if not arg.isReturn%}
                            {%if not arg.isSelf%}
                            <tr>
                              <td><strong>{{arg.name}}</strong></td>
                              <td>{{ arg.jsClassName }}</td>
                              <td>{{ arg.comment }}</td>
                            </tr>
                            {%endif%}
                          {%endif%}
                          {%endeach%}
                        </tbody>
                      </table>
                      {%else%}
                      <span>No arguments.</span>
                      {%endif%}
                      </div>

                      <h4>Returns:</h4>
                      <div class="arguments">
                        {%if function.return.comment%}
                        <span>{{ function.return.comment }}</span>
                        {%elsif function.return.isErrorCode%}
                        <span>An error code.</span>
                        {%elsif isAsync%}
                        <span>A Promise.</span>
                        {%else%}
                        <span>{{ function.return.jsClassName }}</span>
                        {%endif%}
                      </div>
                    </li>
                  </ul>
                  {%endeach%}
                </li>
              </ul>
            </div>
            </script>
          </div>
        </div>
      </section>

      <section id="contribute" class="block">
      </section>
    </div>
  </body>

  <script src="api-viewer/bower_components/jquery/dist/jquery.js"></script>
  <script src="api-viewer/bower_components/underscore/underscore.js"></script>
  <script src="api-viewer/bower_components/combyne/dist/combyne.js"></script>
  <script src="scripts/prism.js"></script>
  <script src="scripts/api.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-21174385-2', 'github.com');
    ga('send', 'pageview');
  </script>
</html>
