<footer>

  <div class="wrapper">
    <hr />

    <p>
      <a href="https://github.com/nodegit/nodegit/">NodeGit</a>, along with
      <a href="https://github.com/nodegit/nodegit.github.com">this website</a>,
      is open source. It’s brought to you by <a href="https://github.com/orgs/nodegit/teams/owners">a core team</a>,
      and a <a href="https://github.com/nodegit/nodegit/graphs/contributors">marvelous group of contributors</a>.
    </p>

    <p><a href="https://github.com/nodegit/nodegit/blob/master/LICENSE">Licenced under MIT</a>.</p>


    <iframe src="https://ghbtns.com/github-btn.html?user=nodegit&repo=nodegit&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=nodegit&repo=nodegit&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=nodegit&repo=nodegit&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

  </div>

</footer>
