/* Layout */

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3,
p, blockquote, pre,
ul, ol, dl, figure, .highlight
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

html, body {
  background:#fff;
}

body {
  padding:0 $spacing-unit $spacing-unit;
}

.wrapper {
  max-width:960px;
  margin:0 auto;
  overflow:hidden;
  padding:($spacing-unit / 2) 0 0;
}

/* Header */

header {
  display:block;
  background:#fff;
  overflow:hidden;

  .site-info {
    float:left;
  }

  span {
    opacity:0.6;
  }

  h1 {
    float:left;
    font-size:$font-size;
    margin:0 $spacing-unit 0 0;
  }

  h1, img {
    height:$font-size * $line-height;
    line-height:$line-height;
    position:relative;
    top:-$spacing-unit / 16;
  }

  .hamburger, .version {
    top:-$spacing-unit / 4;
    display:inline-block;
    padding:$spacing-unit/4 $spacing-unit/3;
    border:1px solid #ededed;
    border-radius:4px;
  }

  .hamburger {
    display:none;
  }

  .version {
    float:left;
    position:relative;
    cursor:pointer;

    &:after {
      content:'\25BE';
      position:relative;
      top:-1px;
      left:$spacing-unit / 8;
      margin-right:$spacing-unit / 8;
      opacity:0.6;
    }
  }

  .version-menu {
    display:none;
  }

  nav {
    float:right;
    font-size:$font-size;

    a {
      color:$text-color;
    }

    ul {
      float:right;
    }

    li {
      float:left;
      margin:0 0 0 $spacing-unit;

      &.active a {
        color:$key-color;
      }
    }
  }
}

/* Banner */

.banner {
  color:#fff;
  margin:0 (-$spacing-unit);
  overflow:hidden;
  background: #f1595f;
  background: -moz-linear-gradient(left,  #f1595f 0%, #f17b59 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f1595f), color-stop(100%,#f17b59));
  background: -webkit-linear-gradient(left,  #f1595f 0%,#f17b59 100%);
  background: -o-linear-gradient(left,  #f1595f 0%,#f17b59 100%);
  background: -ms-linear-gradient(left,  #f1595f 0%,#f17b59 100%);
  background: linear-gradient(to right,  #f1595f 0%,#f17b59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1595f', endColorstr='#f17b59',GradientType=1 );

  h2 {
    line-height:1;
    text-shadow:rgba(#000, 0.5) 0 1px 0;
    color:#fff;
    margin-bottom:0;
  }

  h2, p {
    position:relative;
    z-index:1;
  }

  .wrapper {
    position:relative;
    padding:$spacing-unit $spacing-unit $spacing-unit/2;

    &:after {
      content:'';
      position:absolute;
      top:50%;
      right:0;
      margin:-90px 0 0;
      height:200px;
      width:200px;
      background:url(/img/nodegit-mark.svg);
      background-size:200px;
      opacity:0.4;
      z-index:0;
    }
  }

  .hero {
    text-align:center;

    h2 {
      margin-bottom:$spacing-unit/2;
    }

    &:after {
      display:none;
    }
  }

  p {
    color:mix(#fff, $key-color, 60%);
  }

  a {
    color:mix(#fff, $key-color, 60%);

    &:hover {
      color:#fff;
    }
  }

  .buttons {
    font-size:$font-size * 1.2;

    a {
      display:inline-block;
      padding:$spacing-unit/3 $spacing-unit/1.5;
      background:mix(#000, $key-color, 40%);
      border:1px solid mix(#000, $key-color, 40%);
      margin:0 $spacing-unit/4;
      color:#fff;
      border-radius:5px;
      margin-bottom:$spacing-unit/2;

      &:hover {
        background:mix(#000, $key-color, 50%);
        border-color:mix(#000, $key-color, 50%);
      }

      &.secondary {
        background:transparent;
        border:1px solid mix(#fff, $key-color, 60%);

        &:hover {
          border-color:#fff;
        }
      }
    }
  }
}

/* Page Content */

.page-content {

  .wrapper {
    padding:$spacing-unit 0;
  }

  .outline {
    float:right;
    width:220px;
    padding:0 0 0 $spacing-unit;
    font-size:$font-size * 0.9;
    display:block;

    ul {
      border:none;
    }
  }

  .main {
    overflow:hidden;
    width:auto;

    table {
      a {
        color:$text-color;
        font-weight:500;

        span {
          font-weight:normal;
        }

        &:hover {
          color:$headline-color;
        }
      }

      .tags {
        position:relative;
        top:-2px;
        right:-12px;

        span {
          padding-top:2px;
          padding-bottom:2px;
        }
      }
    }
  }
}

span.tags {
  margin:0 0 0 6px;
  position:relative;
  top:-0.23em;

  span {
    font-size:12px;
    display:inline-block;
    padding:6px 8px;
    border-radius:3px;
    text-transform:uppercase;
    color:#fff;
    margin:0 8px 0 0;
    font-family:$font-family;
    font-weight:500;

    &.enum {
      background:#92D4D3;
    }

    &.sync {
      background:#FD8487;
    }

    &.async {
      background:#77D971;
    }

    &.experimental {
      background:#FFBB85;
    }
  }
}

table {
  border-collapse:collapse;
  width:100%;
  margin:0 0 $spacing-unit/2;

  th {
    font-weight:500;
    color:#aaa;
  }

  td {
    border-top:1px solid #ededed;
  }

  th, td {
    padding:8px $spacing-unit/2;
    text-align:left;

    span {
      color:#aaa;
    }
  }
}

@media all and (max-width: 940px) {
  header {
    nav {
      font-size:$font-size*0.85;
    }
  }

  h2 {
    font-size:$font-size * 1.7;
  }
}

@media all and (max-width: 880px) {
  header {
    overflow:hidden;
    margin-left:-$spacing-unit;
    margin-right:-$spacing-unit;

    .site-info {
      float:none;
      margin-left:$spacing-unit;
      margin-right:$spacing-unit;

      h1 {
        float:left;
      }

      .version {
        float:right;
      }
    }

    nav {
      clear:both;
      float:none;
      width:100%;
      border-top:1px solid #ededed;
      margin:0;
      background:#f8f8f8;

      ul {
        float:none;
        display: -webkit-flex;
        display: flex;
        margin:0 $spacing-unit/2;
      }

      li {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        margin:0;
        text-align:center;

        a {
          display:block;
          line-height:3em;
        }
      }
    }
  }
}

@media all and (max-width: 680px) {
  body {
    padding:0 $spacing-unit/1.5 $spacing-unit/2;
  }

  h2 {
    font-size:$font-size * 1.5;
  }

  .banner {
    .hero {
      h2 {
        margin:0 $spacing-unit*2 $spacing-unit/2;
      }

      .buttons {
        font-size:$font-size*0.85;
      }
    }
  }

  .page-content {
    .outline {
      display:none;
    }
  }
}

@media all and (max-width: 520px) {
  header {
    .hamburger {
      position:relative;
      cursor: pointer;
      display:inline-block;
      float:right;
      margin:0 0 0 $spacing-unit/4;
      width:16px;
      height:$font-size*0.8;
      top:-$spacing-unit/4;
      background:url(/img/hamburger.svg);
      background-size:19px 24px;
      background-repeat:no-repeat;
      background-position:center;
      z-index:100;

      &.open {
        background-color:#f4f4f4;
        border-color:#dadada;
      }
    }

    nav {
      max-height:0;
      -webkit-transition: max-height 0.4s ease-in-out;
      -moz-transition: max-height 0.4s ease-in-out;
      -ms-transition: max-height 0.4s ease-in-out;
      -o-transition: max-height 0.4s ease-in-out;
      transition: max-height 0.4s ease-in-out;

      ul {
        width:100%;
        display:block;

        li {
          float:none;
          width:100%;
          border-bottom:1px solid #ededed;
          -webkit-flex: none;
          flex: none;
        }
      }
    }

    nav.open {
      max-height:500px;
    }
  }
}

@media all and (max-width: 400px) {
  header {
    .version {
      clear:both;
      float:none;
      position:relative;
      box-sizing:border-box;
      margin-top:$spacing-unit/4;
      width:100%;

      &:after {
        position:absolute;
        right:$spacing-unit/4;
        top:$spacing-unit/4;
        left:auto;
      }
    }
  }

  .banner {
    .hero {
      h2 {
        margin:0 $spacing-unit/2 $spacing-unit/2;
      }

      .buttons {
        font-size:$font-size*0.85;
      }
    }
  }
}
