@import "demo.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-top: -20px
}

h1 {
  color: rgba(164, 202, 214, 0.24);
}

html {
  background-color: #3D3D3D;
  height: 100%;
}

html:after {
  content: "";
  /*background: url(http://subtlepatterns.com/patterns/tactile_noise.png);*/
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

header, footer {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

select {
  outline: none !important;
  font-size: 1.2em;
  width: 122px;
  color: #FFF;
  border-width: 4px;
  border-color: #383838;
  background-color: #383838;
  text-align: right;
  margin: 0;
  padding: 5px;
  margin-left: 20px;
}

input[type=search] {
  width: 100%;
  color: #FFF;
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 20px;
  background: #383838;
  font-size: 13px;
}

.brand {
  color: rgba(0, 0, 0, 0);
  margin: 0;
  height: 120px;
}

.brand:before {
  content: "";
  width: 228px;
  height: 51px;
  display: block;
  background: url(../img/nodegit.svg);
  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -20px;
  background-size: 164px 64px;
  background-repeat: no-repeat;
}

header {
  position: relative;
  margin: auto;
  max-width: 960px;
}

nav {
  height: 90px;
  padding-top: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  line-height: 76px;
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 3.5em;
}

nav a {
  color: white;
  display: block;
  font-size: .8em;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 15px;
}

nav a:hover, nav a.active {
  color: #727272;
}

footer {
  line-height: 4.5em;
  font-size: .8em;
  letter-spacing: 1px;
}

footer a {
  color: #F45C60;
}

#wrapper .block {
  margin: auto;
  max-width: 960px;
  margin-bottom: 20px;
}

#wrapper .full.block {
  max-width: 100%;
}

.row {
  margin: auto;
}

.row.full {
  max-width: 100%;
}

.center {
  text-align: center;
}

.about {
  background: #303030;
  padding: 20px;
  color: #FFF;
  margin-left: 15px;
  color: #FFF;
  padding-bottom: 0;
  padding-top: 54px;
}

.about p {
  color: #BBB;
}

.about a {
  color: #8A8A8A;
}

.about h4 {
  color: #CCC;
}

.about h3:last-child {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.wrap-content {
  width: calc(75% + 24px);
}

pre[class*="language-"] {
  margin-left: -20px !important;
}
