* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

html, body {
  background: #434343;
}

header, footer {
  text-align: center;
  background: #383838;
  color: white;
}

a {
  text-decoration: none;
}

.brand {
  color: transparent;
  position: relative;
  margin: 0;
  padding: 2%;
  height: 130px;
}

.brand:before {
  content: "";
  width: 228px;
  height: 51px;
  display: block;
  background: url(../img/nodegit.svg);
  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -27px;
}

header {
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #313131;
}

nav ul li {
  display: inline-block;
  line-height: 3.5em;
}

nav a {
  color: white;
  padding: 0 3em;
  display: block;
  font-size: .8em;
  font-weight: 100;
  letter-spacing: 1px;
}

nav a:hover {
  background: #313131;
}

footer {
  line-height: 4.5em;
  font-size: .8em;
  letter-spacing: 1px;
}

footer a {
  color: #F45C60;
}

#wrapper .block {
  max-width: 980px;
  margin: auto;
  padding: 6em 2em;
  background: white;
}

/*
header nav {
  position: absolute;
  top: 52px;
  width: 50%;
  text-align: right;
  padding-right: 150px;
}

header nav:nth-of-type(2) {
  left: 50%;
  text-align: left;
  padding-left: 150px;
}

header nav a {
  display: inline-block;
  color: #FFF;
  font-size: 20px;
}
*/
