.demo {
  background: #1D1D1D;
  color: #FFFFFF;
  padding: 20px 50px;
  font-family: Courier;
  height: 340px;
  overflow-y: auto;
}

.demo .command {
  margin-left: 20px;
  outline: none;
  color: #696969;
  line-height: 24px;
}

.demo .command.error {
  color: rgb(213, 106, 106);
  font-style: italic;
}

.demo .command:last-child {
  color: #FFF;
}

.demo .command:before {
  content: "~";
  position: relative;
  left: -20px;
  margin-right: -10px;
}

.demo .command:last-child:before {
  color: rgb(44, 221, 255);
}

.demo .identifier {
  padding-left: 5px;
}
